.box
{
    position: relative;
    width: 375px;
    height: 625px;
    border: 3px solid darkred;
    border-radius: 20px;
    margin-left:510px;
    margin-top:15px;
    background-color:darkred;
}