.but1 {
	position: relative;
	width: 120px;
	height: 40px;
	border-radius: 4px;
	margin-top: 3px;
	margin-left: 30px;
	margin-right: 16px;
}
.instruct {
	font-family: verdana;
	font-size: 15px;
	color: white;
	text-shadow:inset 0px 0px 2px #EEEEEE;
	margin-left: 35px;
	margin-top: 40px;

}
.heading {
	font-family: verdana;
	font-size: 26px;
	color: white;
	text-shadow:inset 0px 0px 2px #EEEEEE;
	margin-left: 35px;
	margin-top: 60px;

}
.but2 {
	position: relative;
	font-family: verdana;
	font-size: 16px;
	font-style: bold;
	width: 200px;
	height: 40px;
	float: right;
	background-color: white;
	color: darkred;
	text-shadow:inset 0px 0px 2px #EEEEEE;
	margin-right: 90px;
	margin-top: 20px;
	border-radius: 16px;
	border:none;
	box-shadow: 0px 0px 2px #EEEEEE;
}
#hi {
	position: relative;
	width: 300px;
	height: 200px;
	margin-left: 35px;
}
#Signout {
	font-family: verdana;
	font-size: 12px;
	font-style: bold;
	width: 120px;
	height: 20px;
	float: right;
	background-color: white;
	opacity: 0.6;
	color: darkred;
	text-shadow:inset 0px 0px 2px #EEEEEE;
	margin-right: 30px;
	margin-top: 60px;
	border-radius: 16px;
	border:none;
	box-shadow: 0px 0px 2px #EEEEEE;

}
#Set {
	width: 20px;
	height: 20px;
	float: left;
	margin-top: 80px;
	margin-left: 15px;
	opacity: 0.7;
}