#CreatePoll {
	font-size: 34px;
	font-family: verdana;
	text-align: center;
	color: #EEEEEE;
	margin-top: 60px;
	margin-bottom: 0px;
}
.Pic {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	margin-left:10px;
	margin-top: 5px;
}
.CrtPol {
	background-color: white;
	width: 200px;
	height: 40px;
	color: black;
    font-size:14px;
    font-family: Verdana;
    font-style: bold;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border:2px black solid;
    padding-top: 9px;

 }
.CrtPol button:hover{
        background:linear-gradient(#f6f6f6 5%, #ffffff 100%);
	    background-color:#f6f6f6; 
	}
.CrtPol button:active {
	    position:relative;
	    top:1px;
}
#Back {
	position: relative;
	float: left;
	margin-left: 60px;;
}
#Forward {
	margin-right: 60px;
	float: right;
}
#choices {
	background-color: white;
	width: 280px;
	height:60px;
	opacity: 0.7;
	margin-top: 20px;
	margin-left: 50px;
}
#Set {
	position: relative;
	width: 20px;
	height: 20px;
    margin-bottom: 30px;
    margin-right: 220px;
    margin-left: 10px;
	opacity: 0.7;
}