#logo {
	width: 100%;
	/*height: 200px;*/
}
#Facebook,#Twitter,#Google {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	margin-left:15px;
	margin-right: 15px;
	margin-top: 20px;
}

#NameID, #Password {
    width: 200px;
    height: 35px;
    margin: 15px;
    font-family: cursive;
    font-size: 13px;
    border:1px #AAAAAA solid;
}
#Signup,#Login,#Yes,#no {
	background-color: #FFFFFF;
	width: 120px;
	height: 30px;
	border-radius: 10px;
/*	box-shadow: inset 0px 0px 16px #444444;*/
	border:1px #AAAAAA solid;
	font-size: 14px;
	margin:10px;
}
#Signinpart {
	text-align: left;
	width: 100%;
	color: lightgray;
	margin-left: 7.5px;
	line-height: 170%;
}
#text {
	font-size: 12px;
	font-family: cursive;
    text-align: center;
}

#logospace {
	margin-top: 40px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#buttonspace {
	text-align: center;
}